<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/input" method='post'>
            <label for="sid">Studid</label>
            <input type="text" id="sid" name="sid"><br>
            <label for="sname">Name</label>
            <input type="text" id="sname" name="sname"><br>
            <label for="dept">Dept</label>
            <input type="text" id="dept" name="dept"><br>
            <button type="submit" >display</button>
            <a href="/display"> Show</a>
        </form>
    </div>
</body>
</html>